div.components-tab-panel__tabs {
    margin-bottom: 24px;
}

.tc-event-add-to-cart-group-wrap {
    pointer-events: none;
}

.wp-block[data-type="tickera/event-add-to-cart-columns"],
.wp-block[data-type="tickera/event-add-to-cart-rows"] {
    margin: initial !important;
    padding: initial !important;
}

.tc-event-dropdown-wrap .inner-wrap,
.tc-event-dropdown-wrap .cart_form {
    display: inline-flex;
    align-items: center;
}

.tc-event-dropdown-wrap .tc_in_cart,
.tc-event-dropdown-wrap .tc_tickets_sold {
    margin-left: 10px;
}

.tc-event-dropdown-wrap .actions .add-to-cart {
    display: none;
}

.tc-event-dropdown-wrap .actions .add-to-cart:first-child {
    display: inline-block;
}

/* Hide Table Controls */
.tc-gb-component.show-in-table.dropdown,
.tc-gb-component.show-in-table.dropdown.true,
.tc-gb-component.show-in-dropdown.table,
.tc-gb-component.show-quantity {
    display: none;
}

.tc-gb-component.show-quantity.true {
    display: block;
}

.tc-gb-component.current-event > div,
.tc-gb-component.current-event > div > span {
    margin-bottom: 0;
}

.tc-event-add-to-cart-rows .inner-wrap,
.tc-event-add-to-cart-dropdown .inner-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tc-event-add-to-cart-rows .inner-wrap {
    gap: 10px;
}

.tc-event-add-to-cart-rows .tickera_button,
.tc-event-add-to-cart-dropdown .tickera_button {
    background: none;
    border: none;
}

.tc-event-add-to-cart-rows .tc_quantity_selector,
.tc-event-add-to-cart-dropdown .tc_quantity_selector {
    width: 50px;
    text-align: center;
    padding: 0.5rem;
}